*{
   
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    background-image:image-set(url("Imagem/Imagem1.jpg") ); 
    color: rgb(255, 255, 255);
    padding: 200px 0;
    text-align: center;
    font-size: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;


}h2{
    color: red;
}

main{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    

    
    
}
section.sobre-mim{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 202, 202);
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
    padding: 24px;
    width: 100%;
    gap: 24px;
    
}.sobre-mim p{
    width: 600px;
}
    .apresentacao{
        display: flex;
        
       align-items: center;
        justify-content: center;
  
    }

section.habilidades{
    display: flex;;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 207, 207);
    width: 100%;
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
    padding: 24px;
    list-style: none;
}
.habilidades-conteudo{
    display: flex;
    justify-content: center;
   flex-direction: column;
    gap: 12px;
    border: 20px ;
    padding: 28px;
    list-style: none;
    width: 600px;
}
.habilidades-conteudo ul {
    list-style: none;
}
.habilidades-lista{
    display: flex;
    flex-direction: center;

    gap: 12px;
    border: 20px ;
    padding: 28px;
    list-style: none;
    width: 500px;
    flex-direction: column;
}
img{
    width: 165px;
   
}
section.contato{
    display: flex;
    text-align: right;
    flex-direction: row;
    align-items: center;
    background-color: rgb(209, 202, 202);
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
    padding: 24px;
    width: 100%;
    gap: 24px;
}



